/* Webpage Setup */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    /* REMOVE COMMENTS WHEN DONE */
    /* overflow: hidden; */    
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/*  */
/* Main Website Container Classes */
/*  */

.side_bar {
    height: 100%;
    width: 20%;
    background-color: aquamarine;
}

.main {
    height: 100%;
    width: 80%;
    padding-left: 40px;
    padding-right: 40px;
    background-color: red;
}

/*  */
/* --- Home Page Classes --- */
/*  */

.side_bar_name_section {
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: right;
    background-color: green;
}

.profile_picture {
    height: 100%;
    width: 14%;
    background-color: orangered;
}

.profile_name {
    display: flex;
    align-items: center;

    height: 100%;
    width: 76%;
    padding-left: 10px;
    background-color: brown;
}

/* Find out better way, also make this round */
.search {
    height: 5%;
    background-color: navy;
    padding-top: 13px;
}

.search input {
    width: 48%;
}

.search_bar {
    height: auto;
    object-fit: contain;
}

.splash {
    height: 10%;
    width: 100%;
    background-color: orangered;
}

.recents {
    height: 85%;
    width: 100%;
    padding-bottom: 20px;
    background-color: beige;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.recents_sections {
    flex: 1;
    min-width: none;
}

.recents_headers {
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    
}

/* Temporary Shapes */
.circle {
    height: 100%;
    aspect-ratio: 1;
    background-color: yellow;
    border-radius: 50%;
}

