* {
    width: 100%;
    height: 100%;
    background-color: #f9f6f1;
}

.main_div {
    background-color: #e0ddd8;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title_div {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 405px;
    padding-left: 570px;
    padding-right: 570px;
}

.button_div {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 405px;
    padding-left: 550px;
    padding-right: 550px; 
}

.title {
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 50px;
}