.uploadModal_container {
    height: 500px;
    display: flex;
    flex-direction: column;
}

.fileDisplaySection {
    height: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: red;
}

.fileItem {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
}

.fileUploadSection {
    flex: 1;
    gap: 20px;
    background-color: blanchedalmond;
}

/*  */

.titleSection {
    height: 20%;
    background-color: rgb(151, 126, 175);
}

.descSection {
    height: 60%;
    background-color: coral;
}

.uploadButtonSection {
    height: 20%;
    background-color: darkgreen;
}

